# Analysing some numbers about Luxembourg

In this one, I'm going to look at some random datasets which I found interesting from [the open data portal](https://data.public.lu/en/). Namely:

1. Weather data (and comparison to Switzerland)
1. Citizen
1. Composition of the population
1. Energy production
1. Driving licenses

In [3]:
import pandas as pd
import numpy as np
from plotnine import *

## 1. Weather Data

In [4]:
# Importing Swiss Data
swiss_weather = (pd.read_csv("Weather/weather_data.csv")
    .filter(["date", "STG_precipitation"])
    .assign(date = lambda df: pd.to_datetime(df["date"], format="%d/%m/%Y"),
            location = "CH")
    .rename(columns={"STG_precipitation":"precipitation"})
)

swiss_weather.head(3)

        date  precipitation location
0 1900-01-01            0.0       CH
1 1900-01-02            0.0       CH
2 1900-01-03            0.1       CH

In [5]:
# Importing Luxembourgish data
lu_weather = (pd.read_csv("Weather/Findel Daily Weather since 1947.csv")
    .assign(date = lambda df: pd.to_datetime(df["DATE"], format="%d.%m.%Y"),
            location = "LU")
    .filter(["date", "precipitation_mm", "location"])
    .rename(columns={"precipitation_mm":"precipitation"})
)

lu_weather.head(3)

        date  precipitation location
0 1947-01-01            0.0       LU
1 1947-01-02            0.0       LU
2 1947-01-03            0.0       LU

In [6]:
# Concatenate the two to one for plots and aggregation
weather_data = pd.concat([lu_weather, swiss_weather], axis=0)

weather_data

            date  precipitation location
0     1947-01-01            0.0       LU
1     1947-01-02            0.0       LU
2     1947-01-03            0.0       LU
3     1947-01-04            0.0       LU
4     1947-01-05            0.0       LU
...          ...            ...      ...
44555 2021-12-27            1.6       CH
44556 2021-12-28            3.6       CH
44557 2021-12-29           20.3       CH
44558 2021-12-30            0.3       CH
44559 2021-12-31            0.0       CH

[72319 rows x 3 columns]

With this, I can now make the visualisations!

## 2. Citizen

On this one, I have data for

1. Nationalities
1. Number of kids

In [7]:
# Nationalities
nationalities = pd.read_csv("Citizen/01-01-2023-Number of citizens per nationality and municipality.csv", encoding='latin-1')

nationalities

,COMMUNE_CODE,COMMUNE_NOM,NATIONALITE_ISO3,NATIONALITE_NOM,NOMBRE_TOTAL
0,1101,Beaufort,ERI,érythrée,32
1,1101,Beaufort,ETH,éthiopienne,7
2,1101,Beaufort,AFG,afghane,16
3,1101,Beaufort,ALB,albanaise,7
4,1101,Beaufort,DZA,algérienne,6
...,...,...,...,...,...
7628,1209,Wormeldange,THA,thailandaise,1
7629,1209,Wormeldange,TUN,tunisienne,1
7630,1209,Wormeldange,TUR,turque,5
7631,1209,Wormeldange,UKR,ukrainienne,39
7632,1209,Wormeldange,BIH,Bosnie-Herzégovine,2

In [8]:
# Nationalities
kids = pd.read_csv("Citizen/Anzahl Kinder nach Gemeinde.csv", encoding='latin-1')

kids

     COMMUNE_CODE COMMUNE_NOM  NOMBRE_ENFANTS  NOMBRE_PARENTS
0               1  Luxembourg               1           17025
1               1  Luxembourg               2           19726
2               1  Luxembourg               3            7058
3               1  Luxembourg               4            1810
4               1  Luxembourg               5             480
..            ...         ...             ...             ...
805          1310    Schengen               5              30
806          1310    Schengen               6              13
807          1310    Schengen               7               5
808          1310    Schengen               8               1
809          1310    Schengen               9               1

[810 rows x 4 columns]

## 3. État de la Population

In [9]:
import glob as glob
import os

In [38]:
pd.concat([
    (pd.read_csv("Luxembourg Etat de la Population/StatsPopulation_20101231.csv",
            encoding="latin-1", delimiter=";")
        .assign(year = 2010)),
    (pd.read_csv("Luxembourg Etat de la Population/StatsPopulation_20111231.csv",
            encoding="latin-1", delimiter=";")
        .assign(year = 2011)),
],
    axis=0)

       Age Sexe Nationalite            Quartier,,,  year            Quartier
0        0    M           A           GASPERICH,,,  2010                 NaN
1        0    M           A  NEUDORF/WEIMERSHOF,,,  2010                 NaN
2        0    M        A,DK         WEIMERSKIRCH,,  2010                 NaN
3        0    M         APA       BONNEVOIE-SUD,,,  2010                 NaN
4        0    M         APA              BELAIR,,,  2010                 NaN
...    ...  ...         ...                    ...   ...                 ...
96740  101    F           L                    NaN  2011         PFAFFENTHAL
96741  102    F           D                    NaN  2011               CENTS
96742  102    F           L                    NaN  2011  NEUDORF/WEIMERSHOF
96743  102    F           L                    NaN  2011                EICH
96744  103    M           L                    NaN  2011         VILLE-HAUTE

[190611 rows x 6 columns]

In [40]:
(pd.read_csv("Luxembourg Etat de la Population/StatsPopulation_20101231.csv",
            encoding="latin-1", delimiter=";")
        .assign(year = 2011))

       Age Sexe Nationalite            Quartier,,,  year
0        0    M           A           GASPERICH,,,  2011
1        0    M           A  NEUDORF/WEIMERSHOF,,,  2011
2        0    M        A,DK         WEIMERSKIRCH,,  2011
3        0    M         APA       BONNEVOIE-SUD,,,  2011
4        0    M         APA              BELAIR,,,  2011
...    ...  ...         ...                    ...   ...
93861  102    M           L         VILLE-HAUTE,,,  2011
93862  102    F           L                HAMM,,,  2011
93863  103    M           L         VILLE-HAUTE,,,  2011
93864  103    F         USA         VILLE-HAUTE,,,  2011
93865  104    M           L       BONNEVOIE-SUD,,,  2011

[93866 rows x 5 columns]

## 4. Energy Production by Canton

## 5. Driving Licenses